<a href="https://colab.research.google.com/github/Abuzar51214/Learning-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Control flow
Abuzar_age:int=20
Manzar_age:int=24
if Abuzar_age<Manzar_age:
  print("True Abuzar is younger than manzar")
elif Abuzar_age==Manzar_age:
  print("Equal")
else:
  print("False Manzar is older than Abuzar")

True Abuzar is younger than manzar

In [8]:
# option02= Comprehensive style
print("True Abuzar is younger than manzar") if Abuzar_age<Manzar_age else print("False")

True Abuzar is younger than manzar

In [9]:
def age_campare():
  print("True Abuzar is younger than manzar") if Abuzar_age<Manzar_age else print("False")

In [10]:
age_campare()

True Abuzar is younger than manzar

In [11]:
def age_campare(student_age):
  print("True") if Abuzar_age<student_age else print("False")

In [12]:
age_campare(student_age=23)

True

In [13]:
def age_campare(student_age,name):
  print(f"{name} is older than Abuzar") if Abuzar_age<student_age else print(f"{name} is younger than Abuzar")

In [14]:
age_campare(student_age=25,name="danish")

danish is older than Abuzar

In [15]:
age_campare(29,"babar")

babar is older than Abuzar

In [16]:
def greeting():
  print("hello")

In [17]:
#moduler approach
Answer=greeting()
print(Answer)

# output=greet()
# print(output)

hello
None

In [18]:
def greet()->str:
  Hello= "Hello"
  return Hello

In [19]:
answer=greet()
print(answer)

Hello

In [20]:
#Parameter(variable)
def greet(name:str):
  Hello= f"Hello {name}"
  return Hello

In [21]:
#Arguments(value)
var1=greet("Ali")
print(var1)
print(greet("Abuzar"))
print(greet("Manzar"))

Hello Ali
Hello Abuzar
Hello Manzar

In [22]:
def add(x:int,y:int)->int:
  return x+y

In [23]:
add(2,2)

4

In [ ]:
#In function there is no control flow
#this is a building block
def age_campare(student_age:int,name:str) -> bool:
  result:bool= True if Abuzar_age<student_age else False
  return result

In [ ]:
comparison_result=age_campare(student_age=24,name="feroz")
print(comparison_result)

True

In [24]:
#add all values passed
#positional Arguments
def add_all(*nums:int)-> int:
  print(nums)
  total=0
  for num in nums:
    total+=num
  return total

In [25]:
add_all(2,3,4)

(2, 3, 4)

9

In [26]:
def add_all(*num:int)-> int:
  print(num)
  return sum(num)

In [28]:
add_all(3000,4300,5900)

(3000, 4300, 5900)

13200

In [29]:
#Apply discount
def apply_discount(price:int,discount:int=10)->int:
  return price-(price*discount/100)

In [30]:
apply_discount(13200)

11880.0

In [31]:
#Total discounted price
total=add_all(3000,4300,5900)
discount_given=50
apply_discount(total,discount_given)

(3000, 4300, 5900)

6600.0

In [32]:
#apply discount based on price backets
#10000<=10%
#50000<=30%
#100000>50%
"""
Braintstroming:if discount==10000

what amount of discount shall we apply
"""
def apply_discount(price:int)->int:
  discount:float=0
  print("initial discount",discount)
  if price<=10000:
    print("block1")
    discount=10
  elif price<=50000:
    print("block2")
    discount=30
  else:
    print("block3")
    discount=50

  print("final applicable discount",discount)
  return price-(price*discount/100)

In [33]:
#Total discounted price
total=add_all(3000,4300,5900)
apply_discount(total)

(3000, 4300, 5900)
initial discount 0
block2
final applicable discount 30

9240.0

In [34]:
apply_discount(100000)

initial discount 0
block3
final applicable discount 50

50000.0

In [35]:
#claculate tax
def calculate_tax(gross_total:int, tax:float=17)->float:
  return gross_total+(gross_total*tax/100)

In [36]:
calculate_tax(13200)

15444.0

In [37]:
#funtion created
#1-total shopping price
#2-apply discount based on totla price
#3-apply GST

total=add_all(3000,4300,5900)
print("total price",total)
gross_total=apply_discount(total)
print("gross total",gross_total)
net_total=calculate_tax(gross_total)
print("net total",net_total)

(3000, 4300, 5900)
total price 13200
initial discount 0
block2
final applicable discount 30
gross total 9240.0
net total 10810.8

In [43]:
def checkout(*num:int)->int:
    return sum(num)

def checkout(*num:int)->int:
  total=add_all(*num)

  gross_total=apply_discount(total)

  net_total=calculate_tax(gross_total)

  return net_total

In [44]:
checkout(10000,4000,400)

(10000, 4000, 400)
initial discount 0
block2
final applicable discount 30

11793.6

In [ ]:
def register_company(name:str,password:str)->None:
  print(name,password)

In [ ]:
#Keyword arguments
register_company(name="abuzar",password="110")

#Positional arguments
register_company("abuzar","110")

In [84]:
def register_company(name:str,password:str,*directors:str)->None:
  print("Basic info",name,password)
  print("Directors")
  for director in directors:
    print(director)


register_company("PIAIC","pass","sir zia","sir qasim","sir ameen","hamza syed")

Basic info PIAIC pass
Directors
sir zia
sir qasim
sir ameen
hamza syed

In [85]:
#*directors = values
#**directors = key,value

def register_company(name:str,passwrod:str,*directors:str,**offices:dict)->None:
  print("Basic info",name,passwrod)
  print("Directors")
  for director in directors:
    print(director)
  print("Offices")
  for key,value in offices.items():
    print(key,value)

register_company("PIAIC","pass","sir zia","sir qasim",khi_institute_name="UIT",lhr_institute_name="UMT")

Basic info PIAIC pass
Directors
sir zia
sir qasim
Offices
khi_institute_name UIT
lhr_institute_name UMT